#wrapper {
  width: 100%;
  height: 100.00vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/SpaceXBackground.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
  