body {
  width: 100%;
  height: auto;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/SpaceXDark.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-hover:hover {
  transform: scale(1.15);
  transition: 0.3s;
}
#spaceX {
  font: 400 2em/0.8 'Cookie', Helvetica, sans-serif;
}
.home-header {
  color:#343a40;
  text-align: center;
  font-size: 9em;
  padding-bottom: 0.535em;
  padding-top: 0.53em;
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  text-shadow: 10px 10px 10px rgba(0,0,0,0.3); 
}
.margin {
  margin:0px auto !important;
}
 h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.text-style {
  font-size: 1.2em;  
  text-align: justify;
  font-weight: 700;
  color: #8D99AE;
}
.cols-style {
  padding-top: 5em;
}
.cols-style:last-child {
  padding-bottom: 15em;
}
.text-end {
  text-align: end;
}
.launch-header {
  color:#343a40;
  text-align: center;  
  font: 400 6em 'Cookie', Helvetica, sans-serif;
}
.img-width {
  width:100% !important;
}
.launch-slogan {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding-top: 2em;
  
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1000;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}
.navbar li a:hover {
  background: #ddd;
  color: #333 !important;
}
